.git
.next
.turbo
.vercel
.env
.env.*
node_modules
coverage
build
dist
out
public/fonts
public/media
public/mathjax
public/robots.txt
public/sitemap*.xml
tsconfig.tsbuildinfo
npm-debug.log*
yarn-error.log*
