# Database connection string
DATABASE_URI=postgres://postgres:postgres@localhost:9000/pragmatic-papers

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:8000

# Used to configure Google Analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=YOUR_GA_ID_HERE

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE

# Used to configure whether to use local storage or S3 storage
USE_LOCAL_STORAGE=true

# Used to install optional dependency fonts
GH_FONT_READ=YOUR_SECRET_HERE

# Used to configure the log level (fatal, error, warn, info, debug, trace, silent)
# Defaults to "info" if not set. Use "debug" for local development.
PAYLOAD_LOG_LEVEL=debug