:root {
  /* Diverging Red/Blue palette — override to retheme election maps */
  --map-positive-1: #fde8ec;
  --map-positive-2: #f9bcc7;
  --map-positive-3: #f08c9d;
  --map-positive-4: #da1333;

  --map-negative-1: #c5dbfa;
  --map-negative-2: #8abaf2;
  --map-negative-3: #3e89e7;
  --map-negative-4: #1144ff;

  --map-neutral: #f1efe8;
}
