:root {
  /* Diverging Red/Blue palette — override to retheme election maps */
  --map-positive-1: #ffb8bc;
  --map-positive-2: #f48088;
  --map-positive-3: #e54858;
  --map-positive-4: #d81334;

  --map-negative-1: #b4d4f8;
  --map-negative-2: #72aef3;
  --map-negative-3: #2c86ed;
  --map-negative-4: #126ace;

  --map-neutral: oklch(0.9528 0.0086 84.57);
}
