@keyframes seedSpinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.seedSpinner {
  animation: seedSpinner 0.5s linear infinite;
  transform-origin: center;
  flex-shrink: 0;
}

.seedButton {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }
}
